# junk-files
*.txt
*.swp
*~
*lock*

# editing the md-files in rStudio
*html
.Rhistory

# mysql directories
mysql_datadir
mysql_shr

# db-backup
db-backup/**

# passwords
env/.env.mysql


# log-files
srv/logs/*log
srv/logs/*txt

# the seqdbweb.war
tomcat/*.war
dockerfile/*.war

#mysql_autoload/*.sql
customization/*zip
customization/*war
customization/*xml
