# junk-files
*.txt
*.swp
*~

# mysql directories
mysql_conf.d
mysql_datadir
mysql_shr

# log-files
srv/logs/*log
srv/logs/*txt

# the seqdbweb.war and sql-file
srv/releases/seqdbweb.war
mysql_autoload/seqdb_genotyping225.sql

# the 'exploded' war-file
srv/deployments/seqdbweb/
