#
*.txt
*.swp
# mysql directories
mysql_autoload/seqdb_genotyping225.sql
mysql_conf.d
mysql_datadir
mysql_shr

# log-files
srv/logs/*log
srv/logs/*txt

# the seqdbweb.war
srv/releases/seqdbweb.war

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
